<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal finance tracker</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    {% load static %}
    <link rel="stylesheet" href="{% static 'pft.css' %}">
</head>

<body>
    <div class="container">
        <div class="first-part">

            <div class="first-nav">
                {% load static %}
                <img src="{% static 'line-chart.png' %}" alt="logo" srcset="">
                <h1>Finance Tracker</h1>
            </div>

            <div class="first-content">

                <h1>Take Control of <br>Your Finances</h1>
                <hr>
                <p>Track your income and expenses effortlessly.<br>
                    Manage your budget, set financial goals,<br>
                    and make smarter decisions for more a<br>
                    secure future.</p>
                <div class="auth-buttons">
                    <a href="{% url 'login' %}" class="btn-primary">Sign In</a>
                    <a href="{% url 'register' %}" class="btn-secondary">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="second-part">

            <div class="second-nav">
                <ul>
                    <li><a href="{% url 'pft' %}">Home</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'support' %}">Support</a></li>
                </ul>
            </div>
            {% load static %}
            <img src="{% static 'home image.png' %}" class="home-image" alt="home image">
        </div>

    </div>


    {% load static %}
    <script src="{% static 'pft.js' %}"></script>
</body>

</html>